:root {
  /* Light theme */
  --color-bg: 255 255 255;
  --color-text: 20 23 24;
  /* #141718 */
  --color-muted: 108 114 117;
  /* #6C7275 */
  --color-primary: 56 203 137;
  /* #38CB89 */

  /* Search input */
  --color-placeholder: 102 112 133;
  /* #667085 */
  --default-border: 208 213 221;
  /* #D0D5DD */
  --color-shadow: 16 24 40;
}

.dark {
  --color-bg: 20 23 24;
  /* #141718 */
  --color-text: 255 255 255;
  --color-muted: 160 160 160;
  --color-primary: 56 203 137;
  --color-shadow: 54, 54, 54;
}
