@import 'tailwindcss';

:root {
  /* Light theme */
  --color-bg: #ffffff;
  --color-text: #141718;
  --color-muted: #6c7275;
  --color-primary: #38cb89;
}

.dark {
  --color-bg: #141718;
  --color-text: #ffffff;
  --color-muted: #b1b5c3;
  --color-primary: #38cb89;
}
