.button:hover {
  border-color: transparent;
  background-color: transparent;
}

.buttonActionContent {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
